*{
    margin: 0px;
}

.nav{
    width: 900px;
    height: 100px;
    border: 2px solid red;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin: 10px;

}
.link{
    display: flex;
    justify-content: space-around;
    width: 300px;
}
.back{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 900px;
    border: 2px solid blue;
    margin: 10px;

}

.color{
    color: blue;
}
