*{
    margin: 0px;
}
body{
    width: 1000px;
    border: 2px solid red;
    text-align: center;
    display: flex;
    
   }

.navCon{
display: flex;
margin: 2px solid red;

}
.ul{
 display: flex;
 margin: 4px solid blue;
    
}