*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* border: 1px solid blue; */
}
/* body{
    border: 1px solid green;
    background-color: yellow;
} */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: yellow;
}

.logo{
    color:rgb(248, 95, 141);
    text-transform:capitalize;
    letter-spacing: 5px;
    font-size: 22px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin: 10px;
}
.nav-links li{
    list-style: none;
}

.nav-links a{
    color: green;
    text-decoration: none;
}

.burger{
    display: none;
}

 .burger div{
     width: 25px;
     height: 5px;
     background-color: rgb(211, 31, 31);
     border: 1px solid rgb(0, 255, 0);
 }

 bv