body {
  border: 2px solid green;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}
.grandparent {
  width: 600px;
  height: 600px;
  background-color: red;
}

.parent {
  width: 400px;
  height: 400px;
  background-color: rgb(124, 7, 233);
}

.child {
  width: 200px;
  height: 200px;
  background-color: rgb(32, 218, 15);
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
