* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}
body{
    display: grid;
    grid-template-columns: 1.5em minmax(400px,65px) minmax(200px,60px) 1.5em minmax(600px,65px);
}

.s1 {
  border: 20px solid red;
}
.s2 {
  border: 20px solid rgb(66, 172, 80);
}
.s3 {
  border: 20px solid rgb(68, 17, 150);
  grid-column: 1/10;
}
