.grid-container{
    box-sizing: content-box;
    width: 400px;
    /* height: 900px; */
    border: 2px solid red;
    display: grid;
    grid-template-columns: 200px 250px;
    /* grid-template-columns: 2fr 1fr; */
    /* grid-template-columns: repeat(4,75px); */
    /* grid-template-rows: 200px 100px;  */
    /* Heigt of each row*/
    /* grid-auto-rows: 50px; */
    /* grid-template-rows: 200px; */
    grid-auto-rows: minmax(130px, auto);
 /*    grid-row-gap: 20px;
    grid-column-gap: 20px; */
    grid-gap: 20px;
    grid-template-areas: ;
}

.grid-item{
    border: 3px solid green;
    background-color: rgb(235, 209, 209);

}
